[Desktop Entry]
Name=Yozora
GenericName=Anime Tracking & Playback Client
Comment=Material 3 Quickshell-inspired anime client with Matugen theming and AniDB metadata
Exec=yozora %u
Icon=yozora
Terminal=false
Type=Application
Categories=AudioVideo;Player;TV;
StartupWMClass=yozora
MimeType=x-scheme-handler/magnet;x-scheme-handler/anidb;
Keywords=anime;anidb;player;hyprland;wayland;
